# Python
__pycache__/
*.py[cod]
*$py.class

# Build files
build/
dist/
installer_dist/
portable_dist/
*.spec
!buildozer.spec

# IDE
.idea/
*.iml

# Records
*.json

# Inno Setup
*.exe

# Misc
*.ico
*.log

# Buildozer
.buildozer/
buildozer_env/
buildozer_venv/
python-for-android/
python-for-android.zip
Ubuntu.appx